<form #form="ngForm" autocomplete="off" (ngSubmit)="OnSubmit(form)">

  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <label>Purch No</label>
        <div class="input-group">
          <div class="input-group-prepend">

            <div class="input-group-text">#</div>

          </div>
          <input name="purchNo" #purchNo="ngModel" [(ngModel)]="service.formData.purchNo" class="form-control" required
            minlength="4" />

        </div>
        <!--<div *ngIf="purchNo.invalid && (purchNo.dirty || purchNo.touched)" class="alert alert-danger">Requierd</div>-->
      </div>

      <div class="form-group">
        <label>Supplier</label>
        <select name="accId" #accId="ngModel" [(ngModel)]="service.formData.accId" class="form-control"
          [class.is.invalid]="service.formData.accId ==0" required>
          <option *ngFor="let item of myaccut" [ngValue]="item.acctId">{{item.acctName}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Payment Method</label>
        <select name="pMethod" pMethod="ngModel" [(ngModel)]="service.formData.pMethod" class="form-control">
          <option value="">-Select-</option>
          <option value="Cash">Cash</option>
          <option value="Cheque">Cheque</option>
          <option value="Card">Card</option>
        </select>
      </div>

      <div class="form-group">
        <label>Grand Total</label>
        <div class="input-group">
          <div class="input-group-prepend">

            <div class="input-group-text">AED</div>

          </div>
          <input name="gtotal" #gTotal="ngModel" [(ngModel)]="service.formData.gtotal" class="form-control" readonly />

        </div>
      </div>

    </div>

  </div>
  <!-- purchase items table-->

  <table class="table table-borderless">
    <thead class="thead-light">

      <tr>


        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>
          <a class="btn btn-sm btn-success txt-white" (click)="AddOrEditPurchseItem(null,service.formData.purchId)"><i
              class="fa fa-plus"></i>Add Item</a>
        </th>

      </tr>

    </thead>

    <tbody>
      <tr *ngIf="service.purchaseItems.length==0" [class.is.invalid]="!isValid && service.purchaseItems.length==0">
        <td class="font-italic text-center" colspan="5">
          No item selected for this order
        </td>

      </tr>

      <tr *ngFor="let item of service.purchaseItems; let i=index;">
        <td>{{item.itemName}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.total}}</td>
        <td>
          <a class="btn btn-sm btn-info txt-white" (click)="AddOrEditPurchseItem(i,service.formData.purchId)"><i
              class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger txt-white ml-1" (click)="OnDeletePurchseItem(item.purchItemId,i)"><i
              class="fa fa-trash"></i></a>

        </td>

      </tr>
    </tbody>
  </table>
  <p>

    {{form.value | json}}

  </p>
  <div class="form-group">
    <button type="submit" [disabled]="!form.valid" class="btn-primary btn-dark"><i class="fa fa-database"></i> Submit
    </button>
  </div>

</form>