<p>New Accounts</p>
{{ dbaccounts | json }}

<form #f="ngForm" (ngSubmit)="submit()" novalidate>

  <div class="form-group">
    <label for="contactName">Key</label>
    <input id="contactName" type="text" class="form-control" [(ngModel)]="dbaccounts.acctKey" name="acctKey" required #acctKey="ngModel">
    <div class="alert alert-danger" *ngIf="acctKey.touched && !acctKey.valid">Please specify the contact name.</div>
  </div>
  <div class="form-group">
    <label for="contactName">Name</label>
    <input id="contactName" type="text" class="form-control" [(ngModel)]="dbaccounts.acctName" name="acctName" required #acctName="ngModel">
    <div class="alert alert-danger" *ngIf="acctName.touched && !acctName.valid">Please specify the contact name.</div>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="First group" >
    <button class="btn btn-outline-primary" [disabled]="!f.valid">Save</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
  <button class="btn btn-outline-danger" type="button" (click)="delete()" [disabled]="!f.valid" aria-label="Second group">Delete</button>
</div>
</form>
