<h3>Accounts</h3>


  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>ID</th>
        <th>Key</th>
        <th>Name</th>
        <th>Path</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of myaccuts">
        <td>{{a.acctId}}</td>
        <td>{{a.acctKey}}</td>
        <td>{{a.acctName}}</td>
        <td>{{a.nodePath}}</td>

        <td>
          
          
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a [routerLink]="['/accounts/new', a.acctId]"><button type="button" class="btn btn-success">Edit</button></a>
         </div>
         
         <div *ngIf="a.nodePath.length <= 9 && a.nodePath.length >= 7 " class="btn-group mr-2" role="group" aria-label="First group">
          <a [routerLink]="['/accounts/new', a.nodePath]"><button type="button" class="btn btn-primary">New</button></a>
          
        </div>
        </td>
      </tr>
    </tbody>
  </table>


